body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Oswald", sans-serif;
}

.nav-container {
  border-bottom: 2px solid black;
  display: grid;
  grid-template-columns: 120px 120px auto 120px 120px;
  grid-template-rows: 1fr;
  flex-direction: row;
  align-items: center;
}

.logo-div {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 75px;
}

.links {
  margin: 70px 20px 0px 20px;
}

.shop-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.shop-container {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  margin: 20px;
}

.shop-link:hover {
  color: #70fe6c;
}

.sell-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  margin: 20px;
}

.sell-link:hover {
  color: #70fe6c;
}

.signup-link {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 20px;
}

.signup-link:hover {
  color: #70fe6c;
}

.login-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  margin: 20px;
}

.login-out {
  text-decoration: none;
  color: black;
  font-size: 20px;
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  margin: 20px;
}

.login-link:hover {
  color: #70fe6c;
}
.welcome-link {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

.hamburger {
  display: none;
}

/* // MEDIA QUERY // */

@media only screen and (max-width: 480px) {
  .hamburger {
    display: flex;
    flex-direction: column;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome-link, .shop-link, .sell-link, .login-link, .signup-link, .login-out, .shop-container {
    margin: 7px;
  }
}
