body {
  font-family: "Oswald", sans-serif;
}

.nav-container {
  border-bottom: 2px solid black;
  align-items: center;
}

.logo-div {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
}

.logo {
  border-bottom: none;
  width: 20rem;
}

.links {
  margin: 70px 20px 0px 20px;
}

.shop-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.shop-container {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  margin: 20px;
}

.shop-link:hover {
  color: #8CC223;
}

.sell-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.sell-link:hover {
  color: #8CC223;
}

.signup-link {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 20px;
}

.signup-link:hover {
  color: #8CC223;
}

.login-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  margin: 20px;
}

.login-out {
  text-decoration: none;
  color: black;
  font-size: 20px;
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  margin: 20px;
}

.login-link:hover {
  color: #8CC223;
}
.welcome-link {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  margin: 20px;
  font-size: 24px;
  font-weight: 700;
}

.hamburger {
  display: none;
  background-color: #cecece;
  box-shadow: 2px 2px darkgrey;
  color: black;
  font-size: 15px;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-button {

  /* margin-left: 30px; */
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 15px;
}

.menu-list{
  display: flex;
  justify-content: space-evenly;
}

/* // MEDIA QUERY // */

@media only screen and (max-width: 780px) {
  .logo-div {
    width: 150px;
  }
  
  .nav-container {
     display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;

  }

  .menu-button {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 15px;

  }

.menu-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: #f8f8f8;
  border: 1px solid black;
  top: 93px;
  z-index: 1;
}

  .welcome-link, .shop-link, .sell-link, .login-link, .signup-link, .login-out, .shop-container {
    margin: 7px;
  }
}