.bikedetails-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  padding-top: 100px;
  margin-bottom: 90px;
}

.bike-detail-image {
  width: 500px;
  height: auto;
  border-bottom: none;
}

.detail {
  text-align: center;
  max-width: 500px;
  margin: 20px;
}



.price {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    text-align: left;
    font-weight: bold;
}

.category {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    padding-left: 4rem;
}

.condition {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    padding-left: 3.5rem;
}

.sellerName {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    padding-left: 2.4rem;
}

.sellerEmail {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    padding-left: 2.6rem;
}

.description{
  text-align: left;
  font-size: 20px;
}

.edit-button {
  background-color: #8cc223;
  color: black;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px 10px 15px;
  margin-right: 5px;
  cursor: pointer;
  font-family: "GTA Expanded Black", Helvetica, Arial, sans-serif;
  border: 2px solid grey;
  width: 60px;
  text-align: center;
  text-decoration: none;
}

.edit-button:hover {
  color: white;
}

.delete-button {
  background-color: #8cc223;
  color: black;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px 10px 15px;;
  cursor: pointer;
  font-family: "GTA Expanded Black", Helvetica, Arial, sans-serif;
}

.brand {
  font-family: "GTA Expanded Black", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}

.category-container,
.condition-container,
.sellerName-container,
.sellerEmail-container {
  display: flex;
  margin-top: 10px;
}

.description-container {
  margin: 10px 0px;
}

.detail-label {
  font-size: 20px;
  font-weight: 700;
}
.description-label {
  display: flex;
  margin-bottom: 10px;
  background-color: #8cc233;
  font-weight: bold;
  padding: 5px 10px;
}

.category,
.condition,
.sellerEmail,
.sellerName {
  padding-left: 4rem;
}

@media screen and (max-width: 667px) {
  .bike-detail-image {
    width: 350px;
    height: 275px;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .brand {
    font-size: 2.5em;
  }

  .edit-button {
    margin-right: 5px;
  }
}
