.bikedetails-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  font-family: 'Montserrat', sans-serif;
}

.bike-detail {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.detail {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price{
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.category{
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.condition{
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.sellerName{
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.sellerEmail{
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}



.bike-detail-image{
  /* border: 1px solid red; */
  margin-left: 100px;
  width: 600px;
  height: 400px;
}

.bike-detail-image {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border-bottom: none;
}
.edit-button {
  background-color: #00c160;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  font-family: "GTA Expanded Black",Helvetica,Arial,sans-serif;
  border: 2px solid grey;
  width: 60Px;
  text-align: center;
}

.edit-button:hover {
  background-color: #3e8e41;
}

.edit-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.delete-button:hover {
  background-color: #3e8e41;
}

.delete-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} 

.brand{
  font-size: 45px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .bikedetails-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 100px;
  }

  .detail {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  .bike-detail {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  .bike-detail-image {
    width: 250px;
    height: 250px;
  }
}