.allbikesdiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "GTA Expanded Black",Helvetica,Arial,sans-serif;
}

.bike-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 400px;
  line-height: 0em;
  margin: 10px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 3px 1px #cecece;
}

.bike-post:hover{
  transform: scale(1.02);
  opacity: .9;
}

.bike-post img {
  width: 95%;
  height: 60%;
  border-bottom: none;
  margin: 10px;
}

.bike-link {
  text-decoration: none;
  color: black;
}