.bike-edit {
  display: flex;
  padding: 100px;
  padding-top: 80px;
  justify-content: space-around;
  align-items: center;
  height: 40rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-bike-image {
  width: 600px;
  padding: 0 40px;
  padding-bottom: 5px;
}

.edit-input-image-link {
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.edit-form {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.6;
}

.edit-brand {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 45px;
  letter-spacing: 1px;
  padding: 5px;
  width: 25rem;
}

.edit-price {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px;
  width: 25rem;
}

.edit-condition {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px;
  width: 25rem;
}

.edit-sellerName {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px;
  width: 25rem;
}

.edit-sellerEmail {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px;
  width: 25rem;
}

#category{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px;
  width: 26rem;
  margin: 7px;
}

#condition{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px;
  width: 26rem;
  margin: 7px;
}


