.login-form{
  background-color: #fff;
  max-width: 496px;
  text-align: center;
  
}


.login-container{
  background-color: #fff;
    padding: 30px 20px;
    margin-top: -125px;
    box-shadow: 0 28px 32px 0 rgb(12 0 51 / 10%);
    max-width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.layout-div{
  display: flex;
  flex-direction: column;
}


.login-button:active {
  background-color: #8CC223;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.login-button:hover {
  color: white;
}

.signin-label {
  text-transform: uppercase;
    font-family: "GTA Expanded Black",Helvetica,Arial,sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 30px;
}