
.login-form{
  background-color: #fff;
  box-shadow: 0 28px 32px 0 rgb(12 0 51 / 10%);
  max-width: 496px;
  text-align: center;
  
}


.login-container{
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 0 28px 32px 0 rgb(12 0 51 / 10%);
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
  margin-top: 150px ;
}

.layout-div{
  display: flex;
  flex-direction: column;
}

.layout-children{
  display: flex;
}