
.form-container{
  background-color: #fff;
    padding: 30px 20px;
    margin-top: -180px;
    box-shadow: 0 28px 32px 0 rgb(12 0 51 / 10%);
    max-width: 496px;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}