.search-bar-container {
  display: flex;
  justify-items: center;
  margin: 20px;
}

#search-bar {
  border-radius: 30px;
  margin: auto;
  width: 80%;
}

#search-button {
  background-color: #70fe6c;
  border-width: 5px;
  border-color: black;
  border: solid;
  color: black;
  border: none;
  border-radius: 30px;
}

#search-button:hover {

  border: 1px solid black;
  transition: .3s;
}
