.search-bar-container {
  display: flex;
  justify-items: center;
  margin: 20px;
}

#search-bar {
  border-radius: 30px;
  margin: auto;
  width: 50%;
}

#search-button {
  background-color: red;
  border: none;
  border-radius: 30px;
}

#search-button:hover {
  background-color: salmon;
  transition: 1s;
}
